<body class="admin_style">
    <div class="wrapper">
      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="h-100">
          <div class="sidebar-logo sidebar-color py-2">
            <a href="admin">
              <i class="fa-solid fa-carrot pe-2"></i>
              <span class="link-text">Zesty</span>
            </a>
          </div>
          <!-- Sidebar Navigation -->
          <ul class="sidebar-nav">
            <li class="sidebar-item">
              <a href="admin" class="sidebar-link">
                <i class="fa-solid fa-gauge-high pe-2"></i>
                <span class="link-text">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item manage-students">
              <a href="managestudents" class="sidebar-link collapsed">
                <i class="fa-solid fa-user pe-2"></i>
                <span class="link-text">ManageStudent</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="managebook" class="sidebar-link collapsed">
                <i class="fa-solid fa-bars-progress pe-2"></i>
                <span class="link-text">Manage Book</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="addbook" class="sidebar-link collapsed">
                <i class="fa-solid fa-book pe-2"></i>
                <span class="link-text">Add Book</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="bookissue" class="sidebar-link collapsed">
                <i class="fa-solid fa-book-open-reader pe-2"></i>
                <span class="link-text">Book Issue</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="returnbook" class="sidebar-link collapsed">
                <i class="fa-solid fa-right-left pe-2"></i>
                <span class="link-text">Return Book</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="returntracker" class="sidebar-link collapsed">
                <i class="fa-solid fa-rotate-left pe-2"></i>
                <span class="link-text">ReturnTracker</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="report" class="sidebar-link collapsed">
                <i class="fa-solid fa-flag pe-2"></i>
                <span class="link-text">Report</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a (click)="logout()" class="sidebar-link collapsed appLogout">
                <i class="fa-solid fa-power-off pe-2"></i>
                <span class="link-text">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <!-- Main Component -->
      <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom nav-custum">
          <!-- Button for sidebar toggle -->
          <button class="btn text-left btn-custum" type="button" data-bs-theme="dark">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <main class="content px-3 py-2">
          <div class="container-fluid">
            <div class="mb-3">
              <h1>Book Issue</h1>
              <div class="table-responsive table-responsive-sm table-responsive-md col-10 col-sm-10 col-md-12">
                <table class="table table-bordered table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Book Name</th>
                      <th scope="col">Author</th>
                      <th scope="col">publisher</th>
                      <th scope="col">USN</th>
                      <th scope="col">Issue Date</th>
                      <th scope="col">Due Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of rows">
                      <td scope="row">{{ row.ID_B }}</td>
                      <td>{{ row.book_name }}</td>
                      <td>{{ row.author }}</td>
                      <td>{{ row.publisher }}</td>
                      <td>{{ row.USN }}</td>
                      <td>{{ row.issue_date }}</td>
                      <td>{{ row.due_date }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  
  </body>