<!-- banner -->
<div class="banner">
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
            <h1><a class="navbar-brand mt-3" href="index">Library
                    <span class="mt-4">Zesty University</span>
                </a></h1>

            <button class="navbar-toggler ml-md-auto text-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./register">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- //header -->
    <div class="container">
        <!-- banner-text -->
        <div class="banner-text">
            <div class="slider-info">
                <h3>What would <span>you like </span> to learn?</h3>
                <!--<a href="about.html" class="banner-button btn mt-md-5 mt-4">Know More</a>-->
            </div>
        </div>
    </div>
</div>
<!-- //banner-text -->
<!--banner form-->
<section class="banner_form py-5">
    <h2 class="heading-agileinfo">Welcome To <span> Education</span></h2>
    <p class="vam">In the realm of education, efficient access to resources is paramount for
        fostering knowledge and facilitating research. Our innovative solution is designed to
        streamline the process of managing, accessing, and utilizing a wide array of educational
        materials. With features that include cataloging, circulation management, and user account
        services, it ensures that students and educators can easily locate and borrow books,
        journals, and digital resources. Additionally, the system supports administrative tasks such
        as inventory control, overdue notifications, and report generation, making library
        operations more efficient and user-friendly. By integrating advanced search capabilities and
        personalized recommendations, our system not only enhances the user experience but also
        promotes a culture of continuous learning and academic excellence. Welcome to a smarter,
        more accessible educational journey with our library management solution. </p>

</section>